body {
    background-image: url("/20180120_105946-2.jpg");
    background-size: cover;
}

h1 {
    color: red !important;
    font-size: 80px;
}

.list-header {
    background-color: silver;
    height: 40px;
    padding-top: 10px;
}

#dog-love {
    border: 10px solid green;
    background-color: pink;
}

p:nth-child() {
    background-color: bisque;
}

[type="text"] {
    width: 20rem;
    height: 2rem;
    border: white;
    background-color: lavender;
}

#image {
    text-align: center;
}

img {
    width: 200px;
    border: 10px solid black;
    border-radius: 50%;
}